@model baitapcuoimonweb.Models.Tb_HoaDon

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Cms/Views/Shared/_CMSpage.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Tb_HoaDon</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenKH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tongtien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tongtien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayBan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayBan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrangThai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KhachHang.TenKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KhachHang.TenKH)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
